SaraRobot/config.py
SaraRobot/*.session
SaraRobot/*.session-journal
SaraRobot/config.ini
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
SaraRobot/modules/helper_funcs/temp.txt
SaraRobot/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
